{% extends "HOME/layout.html"%}
{% load static %}
{% block body %}

<main>
    <section>

    </section>
    <!-- Quienes somos: -->
    <section class="space_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 icon__mision_vision_Valores">
                    <img src="../static/img/body-img/wago-29.jpg" loading="lazy" class="img-size" alt="ICSI_Image">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 ">
                    <div class="icon__mision_vision_Valores">
                        <img src="../static/img/logotipo/ICSI_logo.png" class="logo-size-nos" alt="">
                        </div>

                    <p class="justify-text">
                        En ICSI somos especialistas en soluciones integrales de ingeniería y automatización industrial, diseñadas para optimizar sus procesos, garantizar la seguridad operativa y maximizar la eficiencia de sus instalaciones.
                        Con más de <strong> 15 años de experiencia </strong> en el sector, ofrecemos un enfoque personalizado que abarca desde el desarrollo de proyectos a medida hasta la fabricación, calibración y mantenimiento de equipos críticos, siempre respaldados por:
                    </p>

                    <div class="col-lg-12 col-md-12 col-sm-12 ">
                        <div class="">
                            <div>
                        <p><i class="fa-regular fa-circle-right"></i> <strong> Tecnología de vanguardia: </strong> Utilizamos herramientas y metodologías avanzadas para asegurar precisión y confiabilidad en cada proyecto.</p>
                        <p><i class="fa-regular fa-circle-right"></i> <strong>Equipo altamente capacitado: </strong> Nuestros ingenieros y técnicos cuentan con certificaciones especializadas y experiencia comprobada en múltiples industrias.</p>
                        <p><i class="fa-regular fa-circle-right"></i> <strong>Compromiso integral: </strong> Acompañamos cada etapa de su proyecto, desde el diseño hasta la puesta en marcha y soporte continuo.</p>
                            </div>
                        </div>
                    </div>

                    <div class="div_btn">
                        <div>
                        <a href="{% url 'servicios'  %}">
                            <button type="button" class="button button--dione">
                                <span> Contáctenos Ahora Mismo! <img src="../static/img/icons/mechanical-gears.png" alt=""></span>
                              </button>
                        </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    
    <!-- Botones de las cartas -->
     <section class="  space_section">

        <h3 class="text-center">Hitos En Nuestra Historia</h3>

        <div class="container space_section">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 mobile-space-history">
                    <div class="icon__mision_vision_Valores">
                        <img src="../static/img/icons/progress.gif" width="100px" alt="">
                    </div>
                    <h4 class="text-center">  Primer proyecto </h4>
                    <h4 class="text-center">2007</h4>
                    <div class="text-for-mobile">
                    <div>
                    <p class="justify-text">
                        <strong>Diseño, fabricación e implementación de resistencias eléctricas</strong> 
                        para sustitución de gas natural en hornos industriales, logrando mantener metales en estado líquido con mayor eficiencia energética
                    </p>
                    </div>
                </div>
                </div>
                
                <div class="col-lg-3 col-md-12 col-sm-12 mobile-space-history">
                    <div class="icon__mision_vision_Valores">
                        <img src="../static/img/icons/around-the-world.gif" width="100px" alt="">
                    </div>
                    <h4 class="text-center">Primeros distribuidores</h4>
                    <h4 class="text-center">2007</h4>
                    <div class="text-for-mobile">
                        <div>
                            <p class="justify-text">
                            <strong>Iniciamos nuestra trayectoria como distribuidores autorizados de WAGO (Alemania), líder en automatización y conexiones inteligentes, </strong>
                            marcando el comienzo de nuestro compromiso con tecnología de vanguardia.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-12 col-sm-12 mobile-space-history">
                    <div class="icon__mision_vision_Valores">
                        <img src="../static/img/icons/solution.gif" width="100px" alt="">
                    </div>
                    <h4 class="text-center">  Primer proyecto y solución </h4>
                    <h4 class="text-center">  2018  </h4>
                    <div class="text-for-mobile">
                        <div>
                            <p class="justify-text">
                                Realizamos nuestro primer proyecto en la <strong> industria automotriz </strong>
                                mientras implementábamos simultáneamente una solución a gran escala para medición de ácido sulfúrico en tuberías de 15"
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12 col-sm-12 mobile-space-history">
                    <div class="icon__mision_vision_Valores">
                        <img src="../static/img/icons/past.gif" width="100px" alt="">
                    </div>
                    <h4 class="text-center">  Actualmente </h4>
                    <div class="text-for-mobile">
                        <div>
                            <p class="justify-text">
                                contamos con alianzas estratégicas con marcas líderes como
                                <strong>LOBATO ELECTRIC, FIBOX y ARCA VALVES,</strong>  entre otras, para brindar soluciones 
                                integrales a nuestros clientes, logrando un crecimiento sostenido de dos dígitos en los últimos años.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="space_section">
        <h3 class="text-center">Construyendo el Futuro Industrial con Valores:</h3>
        <br>
     <div class="container">
    <div class="row items-center ">            
    <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="icon__mision_vision_Valores">
        </div>
        <p class=" ">
        <a class="button button--dione " data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample">
            <button>
                <span>
                    Mision
                    <img src="../static/img/icons/leadership.png" alt="">
                </span>
            </button>
        </a>
      </p>
    </div>
    
    <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="icon__mision_vision_Valores">
            
        </div>
      <p class="">
      <a class="button button--dione " data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="true" aria-controls="collapseExample">
        <button>
            <span>
                Vision
                <img src="../static/img/icons/mechanic.png" alt="">
            </span>
        </button>
      </a>
    </p>
</div>
    <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="icon__mision_vision_Valores">
        
        </div>
    <p class=" ">
    <a class="button button--dione" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="true" aria-controls="collapseExample">
        <button>
            <span>
                Valores
                <img src="../static/img/icons/hands.png" alt="">
            </span>
        </button>
    </a>
  </p>
</div>

    </div>
</div>


  <div class="collapse " id="collapseExample">
  <div class="card card-body">
    <div class="icon__mision_vision_Valores">
        <img src="../static/img/icons/leadership_big.png" alt="">
    </div>
    <h3 class="text-center"> <mark> Mision </mark></h3>
    
    <div class="center-paragraph">
        <div class="paragraph">
        <p class="justify-text">
            Somos una empresa dedicada al desarrollo de ingenierías y servicios, asi como
            de la distribución y fabricación y venta de equipos; con el propósito de crear
            propuestas de valor acordes a las necesidades de nuestros clientes a través de
            soluciones y sistemas flexibles penetrando el mercado con tecnología de
            vanguardia, en el diseño, fabricación y servicios de nuestros productos a costos
            y tiempos razonables; generando empleos bien remunerados y reconocidos y
            recursos en un entorno comprometido con la sociedad y el medio ambiente.
        </p>
    </div>
    </div>

    <div class="btn_marcas">
    <p class=" ">
    <a class="button-dark button--dione-dark" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample">
      <button class="">
        <span>  
            cerrar
        </span>
      </button>
    </a>
  </p>
</div>
  </div>
  </div>
  
  <div class="collapse " id="collapseExample1" >
  <div class="card card-body">
    <div class="icon__mision_vision_Valores">
        <img src="../static/img/icons/mechanic_big.png" alt="">
    </div>
    <h3 class="text-center">
        <mark>  Vision </mark>
    </h3>

    <div class="center-paragraph">
        <div class="paragraph">
            <p class="justify-text">
                Ser reconocido como uno de los líderes en el desarrollo, servicio, asesoría y
                venta de tecnología y desarrollo de automatización, gabinetes y soluciones para
                la industria regional en la primera etapa (invierno 2025) y nacional en la segunda
                etapa (Verano 2027).
            </p>
        </div>
    </div>

    <div class="btn_marcas">
    <p class="">
    <a class="" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="true" aria-controls="collapseExample">
        <button class="button-dark button--dione-dark">
            <span>  
                cerrar
            </span>
        </button>
    </a>
  </p>
</div>
  </div>
  </div>
  
  <div class="collapse " id="collapseExample2">
    <div class="card card-body">
        <div class="icon__mision_vision_Valores">
            <img src="../static/img/icons/hands_big.png" alt="">
        </div>
      <h3 class="text-center">
        <mark> Valores </mark>
    </h3>
      <div class="center-paragraph">
        <div class="paragraph">
            <small>
                <ul>
                    <p class="list-group-item">
                        <i class="fa-regular fa-circle-right"></i> <strong>EXCELENCIA:</strong> Realizamos nuestras actividades con calidad superior, respeto y
                        cortesía, siempre dando lo mejor de nosotros.
                    </p>
                    <p class="list-group-item">
                        <i class="fa-regular fa-circle-right"></i> <strong> COMUNICACIÓN:</strong> Somos escuchados y nos damos el tiempo para escuchar a
                        los demás con respeto, dignidad y trato igual.
                    </p>
                    <p class="list-group-item">
                        <i class="fa-regular fa-circle-right"></i> <strong> INTEGRIDAD: </strong> Somos intachables en nuestro trato, desempeño personal y
                        profesional, representando a nuestras familias y a nuestra empresa en cada acto
                        realizado.
                    </p>
                    <p class="list-group-item">
                        <i class="fa-regular fa-circle-right"></i> <strong> LEALTAD: </strong> Somos fieles a nuestras familias, compañeros, clientes y a nuestra
                        empresa al realizar nuestro trabajo.
                    </p>
                    <p class="list-group-item">
                        <i class="fa-regular fa-circle-right"></i> <strong> HONESTIDAD:</strong> Somos decentes, recatados, razonables y respetando lo que no
                    es nuestro y aun lo que sí es nuestro.
                    </p>
                    <p class="list-group-item">
                        <i class="fa-regular fa-circle-right"></i> <strong>ÉTICA:</strong>  Promovemos a todos los miembros internos y externos de la
                organización las pautas de buen comportamiento al más alto nivel de exigencia
                en el compromiso del cumplimiento de la misión, visión, valores, procedimental y
                en los principios éticos y de conducta.
                    </p>
                    <br>
                </ul>
            </small>
        </div>
      </div>

      <div class="btn_marcas">
      <p >
      <a class="" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="true" aria-controls="collapseExample">
        <button class="button-dark button--dione-dark">
            <span>  
                cerrar
            </span>
        </button>
      </a>
    </p>
</div>
    </div>
  </div>
  
</section>
</section>

<!-- Ubicación por google maps -->
<section class="space_section">
    <h3 class="text-center"> Donde nos encontramos: </h3>
    <br>
    <div class="google_maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3599.805146941882!2d-103.45221542117923!3d25.544866719596136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x868fdbd813dd7e35%3A0x2ac14fce28030a6a!2sicsi!5e0!3m2!1sen!2smx!4v1740409062405!5m2!1sen!2smx" 
    width="600" height="450" style="border:0;" 
    allowfullscreen="" loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>
</section>

    <!-- mapa donde abarcan las marcas manejadas por ICSI-->
    <section class="space_section">
        <div class="icon__mision_vision_Valores">
            <img src="../static/img/logotipo/ICSI_logo.png" alt="ICSI-logo" class="logo-size">
        </div>
        <h3 class="text-center">¿Por qué elegirnos?</h3>
        <!-- maybe here we will add data from the brands -->
        <div class="container">
            <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <br>
                <div class="contactanos-lista">
                    <div>
                <p><i class="fa-regular fa-circle-right"></i> <strong> Expertos en control y automatización: </strong> Dominio técnico en sistemas PLC, HMI, instrumentación y válvulas industriales.</p>
                <p><i class="fa-regular fa-circle-right"></i> <strong> Soluciones confiables: </strong>Productos y servicios con estándares de calidad certificados.</p>
                <p><i class="fa-regular fa-circle-right"></i> <strong>Enfoque personalizado:</strong> Adaptamos cada proyecto a las necesidades únicas de su operación.</p>
                <p><i class="fa-regular fa-circle-right"></i> <strong>Compromiso total: </strong> Soporte especializado en todas las etapas, desde el diseño hasta el mantenimiento continuo.</p>
                <p><i class="fa-regular fa-circle-right"></i> <strong>En ICSI no solo entregamos equipos, construimos alianzas estratégicas para impulsar la productividad y competitividad de su industria.</strong></p>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <br>
        <div class="div_btn">
            <div>
            <a href="{% url 'servicios'  %}">
                <button type="button" class="button button--dione">
                    <span> Cotiza ahora <img src="../static/img/icons/mechanical-gears.png" alt=""></span> 
                  </button>
            </a>
            </div>
        </div>
    </section>
    
    
</main>

{%endblock%}