{% extends "HOME/layout.html"%}
{%load static%}
{% block body %}



<section class="">

    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="../static/img/carousel/wago-40.jpg" height="500px" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="../static/img/carousel/wago-53.jpg" height="500px" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="../static/img/carousel/wago-58.jpg" height="500px"  class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

</section>
<!-- Banner para cotizar (pagina de contacto) -->
<section class="space_section info-services">
    <!-- <h2 class="text-center">¿Busca soluciones técnicas certificadas para su planta?</h2> -->
    <div class="">
        <div class="space_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="icon__mision_vision_Valores">
                        <img src="../static/img/icons/service-tools.gif" width="150px" alt="">
                    </div>
                    <h3 class="text-center "> <mark> Servicios Especializados que Ofrecemos:</mark></h3>
                    <br>
                    <div class="contactanos-lista">
                        <div>
                    <p><i class="fa-solid fa-gear"></i> Desarrollo de ingenierías</p>
                    <p><i class="fa-solid fa-gear"></i> Servicios a válvulas de control</p>
                    <p><i class="fa-solid fa-gear"></i> Servicios a válvulas de seguridad </p>
                    <p><i class="fa-solid fa-gear"></i> Calibración de instrumentos </p>
                    <p><i class="fa-solid fa-gear"></i> Programaciones de PLC y HMI </p>
                    <p><i class="fa-solid fa-gear"></i> Diseño y ensamble de tableros de control </p>
                    <p><i class="fa-solid fa-gear"></i> Fabricación de sensores de temperatura, termopozos, RTD y termopares </p>
                    <p><i class="fa-solid fa-gear"></i> Desarrollo de proyectos </p>
                        </div>
                    </div>

                </div>


                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="icon__mision_vision_Valores">
                        <img src="../static/img/icons/24-7.gif" width="150px" alt="">
                    </div>
                    <h3 class="text-center"> <mark> ¿Por qué cotizar con ICSI?</mark></h3>
                    <br>
                    <div class="contactanos-lista">
                        <div>
                    <p><i class="fa-regular fa-circle-right"></i> Expertos certificados en cada servicio listado</p>
                    <p><i class="fa-regular fa-circle-right"></i> Tiempos de respuesta rápidos (24 hrs para diagnósticos)</p>
                    <p><i class="fa-regular fa-circle-right"></i> Garantía documentada en todos nuestros trabajos</p>
                    <p><i class="fa-regular fa-circle-right"></i> Precios competitivos sin sacrificar calidad</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>

<section class="services-section space_section">

    <h2 class="text-center">Conoce Nuestros servicios a profundidad: </h2> <br>

    <div class="container">
    <div class="row">
        
    <div class=" col-lg-4 col-md-12 col-sm-12 card-services card-item center-card" >

        <div class="card" style="width: 20rem;">
            <img src="../static/img/body-img/Desarrollo_de_ingenierias.png" loading="lazy" aria-label="Placeholder: Image cap" height="250px" class="bd-placeholder-img card-img-top"  preserveAspectRatio="xMidYMid slice" role="img" width="350px"  alt="Desarrollo de ingenierías">
            <div class="card-body">
              <h5 class="card-title text-center">Desarrollo de ingenierías</h5>
              <p class="card-text justify-text">
                En ICSI realizamos la planificación, diseño, análisis y documentación técnica
                necesarios para llevar a cabo un proyecto de ingeniería, ya sea en construcción, manufactura, energía, tecnología, entre otros sectores.
            </p>
            </div>
            <div class="card-footer bg-transparent">
            <div class="btn_marcas">
                <div>
                  <button type="button" class="button button--dione" data-bs-toggle="modal" data-bs-target="#Desarrollo-de-ingenierías">
              <span>Ver mas</span>
            </button>
          </div>
          </div>
        </div>
        </div>

    </div>

    <div class="modal fade" id="Desarrollo-de-ingenierías" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"> Desarrollo De ingenierías</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p class="justify-text">
                En ICSI realizamos la planificación, diseño, análisis y documentación técnica
necesarios para llevar a cabo un proyecto de ingeniería, ya sea en construcción, manufactura, energía, tecnología, entre otros sectores. Es una etapa clave antes de iniciar la ejecución física de una obra o sistema.
Incluye actividades como: <br><br>
<i class="fa-regular fa-circle-check"></i> Estudios técnicos y de factibilidad <br>
<i class="fa-regular fa-circle-check"></i> Diseño de planos (eléctricos, control, instrumentación, etc.) <br>
<i class="fa-regular fa-circle-check"></i> Selección de materiales y tecnologías 
              </p>
              </div>
            <div class="modal-footer">
              <button type="button" class="button-dark button--dione-dark" data-bs-dismiss="modal">
              <span>
                Salir
              </span>
              </button>
            </div>
          </div>
        </div>
    </div>


    <div class=" col-lg-4 col-md-12 col-sm-12 card-services center-card">

        <div class="card" style="width: 20rem;">
            <img aria-label="Placeholder: Image cap" loading="lazy" class="bd-placeholder-img card-img-top" height="250px" preserveAspectRatio="xMidYMid slice" role="img" width="350px" src="../static/img/body-img/Servicio_valvulas.png"></img>
            <div class="card-body">
              <h5 class="card-title text-center">Servicios a válvulas de control</h5>
              <p class="card-text">El servicio a válvulas de control implica una serie de actividades técnicas 
                orientadas a asegurar que estas válvulas funcionen correctamente, de forma segura y eficiente.
            </p>
            </div>
            <div class="card-footer bg-transparent">
                <div class="btn_marcas">
                    <div>
                      <button type="button" class="button button--dione" data-bs-toggle="modal" data-bs-target="#válvulas-de-control">
                  <span>Ver mas</span>
                </button>
              </div>
              </div>
            </div>
          </div>
    </div>


    <div class="modal fade" id="válvulas-de-control" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"> Servicios a válvulas de control </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p class="justify-text">
                El servicio a válvulas de control implica una serie de actividades técnicas orientadas a asegurar que estas 
                válvulas funcionen correctamente, de forma segura y eficiente, dentro de un sistema de control de procesos 
                (como en plantas industriales, refinerías, termoeléctricas, etc.).
              </p>

              <p>
                SERVICIO A VÁLVULAS DE CONTROL:
              </p>
              <p>
                1. Inspeccióngeneral: <br>
o Revisión visual del estado externo.<br>
o Detección de fugas, corrosión o daños físicos.<br> <br>

2. Desmontaje:<br>
o Desarme controlado de la válvula para revisar partes internas como el obturador, asiento, vástago y diafragmas.<br><br>

3. Limpieza:<br>
o Eliminación de residuos, incrustaciones o productos químicos acumulados.<br><br>

4. Diagnóstico y pruebas:<br>
o Verificación del actuador (neumático, eléctrico, hidráulico). o Pruebas de calibración y respuesta al control.<br>
Detección de problemas de sellado, tiempos de respuesta o histéresis. <br><br>

5. Reparación o sustitución de piezas:<br>
o Cambio de sellos, empaques, resortes, diafragmas u otras partes dañadas. <br><br>

6. Reensamblado y pruebas finales:<br>
o Armado correcto de la válvula y pruebas en banco o en campo para asegurar su correcto funcionamiento.<br><br>

7. Documentación técnica:<br>
o Registro de parámetros antes y después del servicio, piezas cambiadas y
recomendaciones futuras. <br>

              </p>
              </div>
            <div class="modal-footer">
              <button type="button" class="button-dark button--dione-dark" data-bs-dismiss="modal">
              <span>
                Salir
              </span>
              </button>
            </div>
          </div>
        </div>
    </div>



    <div class=" col-lg-4 col-md-12 col-sm-12 card-services center-card" >

        <div class="card" style="width: 20rem;">
            <img aria-label="Placeholder: Image cap" loading="lazy" class="bd-placeholder-img card-img-top" height="250px"  preserveAspectRatio="xMidYMid slice" role="img" width="350px" src="../static/img/body-img/Valvulas_Seguridad.png"></img>
            <div class="card-body">
              <h5 class="card-title text-center">Servicios a válvulas de seguridad </h5>
              <p class="card-text">
                El servicio a válvulas de seguridad implica todas las actividades 
                necesarias para garantizar que estas válvulas actúen correctamente cuando se exceden los límites de presión establecidos.
            </p>
            </div>
            <div class="card-footer bg-transparent">
                <div class="btn_marcas">
                    <div>
                      <button type="button" class="button button--dione" data-bs-toggle="modal" data-bs-target="#válvulas-de-seguridad">
                  <span>Ver mas</span>
                </button>
              </div>
              </div>
            </div>
          </div>

    </div>

    <div class="modal fade" id="válvulas-de-seguridad" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"> Servicios a válvulas de seguridad </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p class="justify-text">
                El servicio a válvulas de seguridad implica todas las actividades necesarias para garantizar que estas válvulas actúen correctamente cuando se exceden los límites de presión establecidos, protegiendo así equipos, instalaciones y personas.
<br> <br>
SERVICIO A VÁLVULAS DE SEGURIDAD: <br><br>
1. Inspeccióninicial:<br>
o Revisión visual para detectar daños, corrosión, fugas o deformaciones.<br>
o Verificación de la placa de identificación (presión de calibración, modelo,
fabricante). <br><br>
2. Desmontaje:<br>
o Desensamble completo de la válvula para acceder a los componentes internos: resorte, disco, asiento, guía, etc.<br><br>
3. Limpieza:<br>
o Eliminación de residuos, óxidos, productos del proceso <br>
o partículas que puedan interferir con el sellado o apertura. <br><br>
4. Revisiónydiagnósticodepiezas:<br>
o Verificación del estado del resorte, disco y asiento (que son críticos para el funcionamiento).<br>
o Identificación de desgaste, picaduras, deformaciones o corrosión.<br><br>

Reparación o reemplazo de componentes:<br>
o Cambio de sellos, discos, empaques o el resorte si está fuera de
especificación. <br><br>
6. Reensambladoyajuste: <br>
o Ensamblaje con el par correcto de apriete y centrado de piezas móviles <br>
              </p>
              </div>
            <div class="modal-footer">
              <button type="button" class="button-dark button--dione-dark" data-bs-dismiss="modal">
              <span>
                Salir
              </span>
              </button>
            </div>
          </div>
        </div>
    </div>

    </div>

    <div class="row">
        
        <div class=" col-lg-4 col-md-12 col-sm-12 card-services center-card center-card" >
            <div class="card" style="width: 20rem;">
                <img aria-label="Placeholder: Image cap" loading="lazy" class="bd-placeholder-img card-img-top" height="250px"  preserveAspectRatio="xMidYMid slice" role="img" width="350px" src="../static/img/body-img/Calibracion_de_Instrumentos.png"></img>
                <div class="card-body">
                  <h5 class="card-title text-center">Calibración de instrumentos</h5>
                  <p class="card-text">
                    La calibración de instrumentos de campo implica comparar y ajustar 
                los instrumentos de medición que están instalados en una planta o 
                procesos para asegurar que sus lecturas sean precisas, 
                confiables y estén dentro de tolerancias establecidas.
                </p>
                </div>
                <div class="card-footer bg-transparent">
                    <div class="btn_marcas">
                        <div>
                          <button type="button" class="button button--dione" data-bs-toggle="modal" data-bs-target="#Calibracion-de-instrumentos">
                      <span>Ver mas</span>
                    </button>
                  </div>
                  </div>
                </div>
              </div>

        </div>

        <div class="modal fade" id="Calibracion-de-instrumentos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel"> Calibración de instrumentos </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="justify-text">
                La calibración de instrumentos de campo implica comparar y ajustar los instrumentos de medición que están instalados en una planta o proceso (como sensores de presión, temperatura, flujo, nivel, etc.) para asegurar que sus lecturas sean precisas, confiables y estén dentro de tolerancias establecidas.
                La calibración de instrumentos de campo implica comparar y ajustar los instrumentos de medición que están instalados en una planta o proceso (como sensores de presión, temperatura, flujo, nivel, etc.) para asegurar que sus lecturas sean precisas, confiables y estén dentro de tolerancias establecidas.
                <br> <br>
                CALIBRACIÓN DE INSTRUMENTOS DE CAMPO <br><br>
1. Verificacióninicial:<br>
o Revisión visual del instrumento y sus condiciones (conexiones, sellos, limpieza, etiquetas).<br>
o Confirmación de modelo, rango, unidad de medida y condiciones de operación.<br><br>

2. Aislamientoypreparación:<br>
o Desconexión segura del instrumento del proceso (si es necesario).<br>
o Aplicación de procedimientos de seguridad (bloqueo, etiquetado, purgado de líneas).<br><br>

3. Pruebas de calibración:<br> 
o Se compara la señal del instrumento con un patrón de referencia<br>
certificado (por ejemplo, un calibrador de presión o generador de señal). o Se aplican valores conocidos (inputs) y se registran los valores indicados
(outputs).<br>
o Se verifica si hay desviación respecto al valor esperado.<br><br>

4. Ajustedelinstrumento(siaplica):<br>
o Si la desviación está fuera de tolerancia, se hace ajuste <br>
o corrección en el instrumento para que su lectura sea exacta. Algunos instrumentos permiten ajuste manual o vía software. <br><br>

5. Reverificación: <br>
o Se repiten las pruebas después del ajuste para asegurar que los valores estén dentro del rango aceptable.<br><br>

6. Documentaciónyetiquetado:<br>
o Emisión de certificado de calibración con resultados antes y después. <br>
o Colocación de etiqueta con fecha de calibración, próxima calibración y número de serie.<br><br>

                  </p>
                  </div>
                <div class="modal-footer">
                  <button type="button" class="button-dark button--dione-dark" data-bs-dismiss="modal">
                  <span>
                    Salir
                  </span>
                  </button>
                </div>
              </div>
            </div>
        </div>


    
        <div class=" col-lg-4 col-md-12 col-sm-12 card-services center-card">
            <div class="card" style="width: 20rem;">
                <img aria-label="Placeholder: Image cap" loading="lazy" class="bd-placeholder-img card-img-top" height="250px" preserveAspectRatio="xMidYMid slice" role="img" width="350px" src="../static/img/body-img/programa.jpg"></img>
                <div class="card-body">
                  <h5 class="card-title text-center"> Programaciones de PLC y HMI </h5>
                  <p class="card-text">
                    En ICSI desarrollamos la programación de los programas que controlan procesos 
                    industriales automáticos, conectando sensores, actuadores y sistemas de visualización 
                    para operar de manera eficiente, segura y supervisada
                </p>
                </div>
                <div class="card-footer bg-transparent">
                    <div class="btn_marcas">
                        <div>
                          <button type="button" class="button button--dione" data-bs-toggle="modal" data-bs-target="#Programaciones-PLC">
                      <span>Ver mas</span>
                    </button>
                  </div>
                  </div>
                </div>
              </div>

        </div>

        <div class="modal fade" id="Programaciones-PLC" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel"> Programaciones de PLC y HMI </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="justify-text">
En ICSI desarrollamos la programación de los programas que controlan procesos industriales automáticos, conectando sensores, actuadores y sistemas de visualización para operar de manera eficiente, segura y supervisada.
<br><br>
PROGRAMACIÓN DE PLC Y HMI: <br><br>

1. Levantamiento de requerimientos:<br>
•Entender el proceso a automatizar.<br>
•Definir entradas, salidas, secuencias lógicas, alarmas, paros de emergencia, etc.<br><br>

2. Diseño del sistema de control:<br>
•Diagramas de flujo o lógicos (secuencia de operaciones).<br>
•Selección del hardware (modelo de PLC y HMI, tarjetas de entrada/salida). <br><br>

3. Programación del PLC:<br>
•Usar software específico del fabricante (como TIA Portal, RSLogix, GX Works).<br>
•Programar en lenguajes como ladder (escalera), texto estructurado, bloques de
funciones, etc.<br>
•Incluir rutinas como:<br>
o Encendido/apagado de motores
Controles PID<br>
o Temporizadores y contadores<br>
o Manejo de alarmas y enclavamientos de seguridad<br><br>

4. Programación del HMI:<br>
•Diseño gráfico de pantallas (páginas de operación, tendencias, alarmas).<br>
•Asociación de variables con el PLC.<br>
•Implementación de controles (botones, sliders, indicadores).<br><br>

5. Pruebas y puesta en marcha:<br>
•Simulación de entradas/salidas.<br>
•Pruebas en campo para validar funcionamiento real.<br>
•Ajustes finos y corrección de errores.<br><br>

6. Documentación:<br>
•Manual del programa, diagramas, backups del software.<br>
•Capacitación al personal si es necesario.<br>
</p>
</div>
                <div class="modal-footer">
                  <button type="button" class="button-dark button--dione-dark" data-bs-dismiss="modal">
                  <span>
                    Salir
                  </span>
                  </button>
                </div>
              </div>
            </div>
        </div>
    

        <div class=" col-lg-4 col-md-12 col-sm-12 card-services center-card">

            <div class="card" style="width: 20rem;">
                <img aria-label="Placeholder: Image cap" loading="lazy" class="bd-placeholder-img card-img-top" height="250px"  preserveAspectRatio="xMidYMid slice" role="img" width="350px" src="../static/img/body-img/Proyectos.png"></img>
                <div class="card-body">
                  <h5 class="card-title text-center"> Desarrollo de proyectos </h5>
                  <p class="card-text">
                El desarrollo de proyectos de instrumentación, automatización y control es el proceso integral de planificación, diseño, 
                integración y puesta en marcha de sistemas que permiten medir, 
                controlar y automatizar procesos industriales de forma eficiente, segura y precisa.
                </p>
                </div>
                <div class="card-footer bg-transparent">
                    <div class="btn_marcas">
                        <div>
                          <button type="button" class="button button--dione" data-bs-toggle="modal" data-bs-target="#Desarrollo-proyectos">
                      <span>Ver mas</span>
                    </button>
                  </div>
                  </div>
                </div>
              </div>

        </div>

        <div class="modal fade" id="Desarrollo-proyectos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel"> Desarrollo Proyectos </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="justify-text">
El desarrollo de proyectos de instrumentación, automatización y control es el proceso integral de planificación, diseño, integración y puesta en marcha de sistemas que permiten medir, controlar y automatizar procesos industriales de forma eficiente, segura y precisa.
   <br><br>
¿Qué abarca este tipo de proyectos?<br><br> 
1. Ingeniería conceptual y básica:<br>
• Recolección de requerimientos del proceso.<br>
• Definición de variables a controlar: presión, temperatura, nivel, flujo, velocidad, etc.<br>
• Selección de tecnología (PLC, HMI, sensores, válvulas, redes industriales).<br>
• Diagramas de proceso (P&ID) y filosofía de control.<br><br>
2. Ingeniería de detalle:<br>
• Diseño de la arquitectura de control.<br>
• Elaboración de:<br>
o Diagramas eléctricos y de lazos de instrumentación.<br>
o Especificaciones técnicas de equipos.<br>
o Layouts de tableros de control y ubicación de instrumentos.<br>
• Selección y dimensionamiento de instrumentación y sistemas de comunicación. <br><br>
3. Adquisición de equipos:<br>
• Suministro de PLCs, sensores, válvulas, actuadores, tableros, cables, accesorios, etc.<br>
• Validación de compatibilidad entre dispositivos. <br><br>
4. Programación y configuración:<br>
• Programación de PLCs y lógica de control.<br>
• Diseño de pantallas en HMI/SCADA.<br>
• Configuración de redes industriales (Modbus, Profibus, Ethernet/IP, etc.).<br><br>
5. Instalación y cableado:<br>
• Montaje de sensores y actuadores en campo.<br>
• Cableado de señales de control, alimentación y comunicación. <br><br>
6. Pruebas y puesta en marcha:<br>
• Pruebas en frío (sin proceso) y en caliente (con proceso activo).<br>
• Verificación de lazos de control, alarmas, enclavamientos y respuestas del sistema.<br>
• Ajustes finos (tunning de PID, tiempos, límites). <br><br>
7. Documentación final:<br>
• Planos as-built.<br>
• Manuales de operación y mantenimiento.<br>
• Capacitación al personal operativo.<br>
                  </p>
                  </div>
                <div class="modal-footer">
                  <button type="button" class="button-dark button--dione-dark" data-bs-dismiss="modal">
                  <span>
                    Salir
                  </span>
                  </button>
                </div>
              </div>
            </div>
        </div>
    
        </div>

        <div class="row card-services">
        
            <div class=" col-lg-6 col-md-12 col-sm-12 card-services center-card" >
                
                <div class="card" style="width: 20rem;">
                    <img aria-label="Placeholder: Image cap" loading="lazy" class="bd-placeholder-img card-img-top" height="250px"  preserveAspectRatio="xMidYMid slice" role="img" width="350px" src="../static/img/body-img/Sensores.png"></img>
                    <div class="card-body">
                      <h5 class="card-title text-center"> Fabricación de sensores de temperatura. </h5>
                      <p class="card-text">
                        En ICSI realizamos la fabricación de sensores de temperatura RTD, termopares y accesorios como termopozos.
                    </p>
                    </div>
                    <div class="card-footer bg-transparent">
                        <div class="btn_marcas">
                            <div>
                              <button type="button" class="button button--dione" data-bs-toggle="modal" data-bs-target="#sensores-de-temperatura">
                          <span>Ver mas</span>
                        </button>
                      </div>
                      </div>
                    </div>
                  </div>

            </div>

            <div class="modal fade" id="sensores-de-temperatura" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel"> Fabricación de sensores de temperatura. </h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p class="justify-text">
        EN ICSI realizamos la fabricación de sensores de temperatura RTD, termopares 
        y accesorios como termopozos que implica un proceso técnico que combina selección de 
        materiales, ensamble preciso y pruebas de calidad, con el fin de producir dispositivos que midan 
        temperatura de manera confiable en entornos industriales.
                      </p>
                      </div>
                    <div class="modal-footer">
                      <button type="button" class="button-dark button--dione-dark" data-bs-dismiss="modal">
                      <span>
                        Salir
                      </span>
                      </button>
                    </div>
                  </div>
                </div>
            </div>


            <div class=" col-lg-6 col-md-12 col-sm-12 card-services center-card" >

                <div class="card" style="width: 20rem;">
                    <img aria-label="Placeholder: Image cap" loading="lazy" class="bd-placeholder-img card-img-top" height="250px"  preserveAspectRatio="xMidYMid slice" role="img" width="350px" src="../static/img/body-img/diseño-de-ensamble.jpg"></img>
                    <div class="card-body">
                    <h5 class="card-title text-center"> Diseño y ensamble de tableros de control </h5>
                    <p class="card-text">
                        Nosotros nos encargamos de diseñar y ensamblar a la medida tu tablero.
                    </p>
                    </div>
                    <div class="card-footer bg-transparent">
                        <div class="btn_marcas">
                            <div>
                            <button type="button" class="button button--dione" data-bs-toggle="modal" data-bs-target="#tableros-de-control">
                        <span>Ver mas</span>
                        </button>
                    </div>
                    </div>
                    </div>
                </div>

            </div>


            <div class="modal fade" id="tableros-de-control" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel"> Diseño y ensamble de tableros de control </h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p class="justify-text">

1. Recolección de requerimientos: <br>
• ¿Qué va a controlar el tablero? (motores, bombas, válvulas, sensores, etc.)<br>
• Potencias, voltajes, tipo de señales (digitales, analógicas), protección requerida. <br><br>
2. Diseño eléctrico:<br>
• Elaboración de diagramas unifilares, esquemáticos y de control (normalmente en AutoCAD Electrical, EPLAN u otro software).<br>
• Selección de materiales: tipo de gabinete, grado IP, componentes eléctricos, canaletas, terminales, etiquetas.<br>
• Cálculo de protecciones eléctricas (fusibles, breakers, térmicos). <br><br>

3. Ensamble físico del tablero:<br>
• Montaje de componentes en riel DIN o placas base.<br>
• Canalización ordenada de cables (según código de colores).<br>
• Etiquetado de cables, borneras y equipos.<br>
• Perforación para botones, HMIs o entradas de cable.<br><br>
4. Cableado y conexionado:<br>
• Conexión según el diagrama eléctrico.<br>
• Separación de señales de control y fuerza (seguridad electromagnética).<br>
• Verificación de terminales bien prensados y organizados.<br><br>
5. Pruebas y validación:<br>
• Verificación de continuidad eléctrica y protecciones.<br>
• Pruebas funcionales: simulación de señales, arranques, alarmas.<br>
• Revisión contra cortocircuitos o errores de cableado.<br><br>
6. Documentación técnica:<br>
• Diagramas eléctricos finales.<br>
• Lista de materiales (BOM).<br>
• Manual de operación y mantenimiento.<br>
• Etiquetas de advertencia y cumplimiento normativo (NOM, IEC, UL).<br>
</p>
</div>
                    <div class="modal-footer">
                      <button type="button" class="button-dark button--dione-dark" data-bs-dismiss="modal">
                      <span>
                        Salir
                      </span>
                      </button>
                    </div>
                  </div>
                </div>
            </div>


            </div>

    </div>
</section>


<section class="form-section space_section">
    <div class="icon__mision_vision_Valores">
    <img src="../static/img/logotipo/ICSI_logo.png" class="logo-size" alt="">
    </div>

    {% if messages %}
            {% for message in messages %}
            <div class="form-div">
            <div class="alert alert-success" role="alert">
                {{message}}
              </div>
            </div>
            {%endfor%}
        {% endif %}

    <div class="form-div">
    <div class="">
        <h3 class="text-center"> Contactanos: </h3>
        <br>
    <form method="post" action=".">
        
        {% csrf_token %}

        <input hidden type="subject" class="form-control" name="subject" id="floatingInput" placeholder="Nuevo Cliente" value="Nuevo Cliente">

        <div class="row">
            <div class="col-md-6 form_padding">
                <label for="Name" class="form-label">Nombre:</label>
                <input required name="Nombre" type="text" class="form-control" id="Name" placeholder="Jose">
            </div>
            <div class="col-md-6 form_padding">
                <label for="Apellido" class="form-label">Apellido:</label>
                <input required name="Apellido" type="text" class="form-control" id="Apellido" placeholder="Perez" >
            </div>
            
        </div>
        

        <div class="row">
        
        <div class="col-lg-6 form_padding">
            <label for="inputEmail4" class="form-label">Email:</label>
            <input required name="email" type="email" class="form-control" id="inputEmail4" placeholder="ICSI@gmail.com">
        </div>
        
        <div class="col-lg-6 form_padding">
            <label for="inputPassword4" class="form-label">Whatsapp: </label>
            <input required name="Whatsapp" type="tel" class="form-control" id="inputPassword4" placeholder="876545372" >
        </div>

        <div class="col-lg-12 form_padding">
            <label for="inputState" class="form-label">Metodo de Contacto preferido:</label>
            <select required name="contact" id="inputState" class="form-select">
              <option >Donde te gustaria que ICSI te contacte?</option>
              <option>Correo</option>
              <option>Whatsapp</option>
            </select>
          </div>
        
        </div>

        <div class="form_padding">
            <label for="inputPassword4" class="form-label">Motivo:</label>
            <input required name="Proposito" type="text" class="form-control" id="inputPassword4" placeholder="Me interesaria obtener informes sobre 'x' servicio" >
        </div>


        <div class="form_padding">
            <label for="inputPassword5" class="form-label">Como podemos ayudarte:</label>
            <textarea required name="comments" class="form-control" id="inputPassword5" placeholder="Describe como podemos ayudarte" style="height: 100px" ></textarea>
        </div>


        <div>
            <div class="btn-form">
        <button type="submit" class=" btn-form  button button--dione">
            <span>
                Enviar
                <img src="{% static 'img/icons/mechanical-gears.png'%}" alt="">
            </span>
        </button>
            </div>
        </div>
    
    </div>
    </div>


        


    </form>

</section>



{%endblock%}